* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

:root {
  --widegutter: 20%;
  --pagegutter: 25%;
  --fa-li-margin: 26px;
  --fa-li-width: 30px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

/* Navbar */
header {
  height: 80px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: 80px;
}

nav [class|="nav"] {
  line-height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}

[class|="nav"] a {
  color: black;
}

nav div > a:hover {
  box-shadow: 0 -5px black inset;
}

.jtext-wrapper i {
  font-size: 3rem;
  margin-top: 100px;
  align-self: baseline;
}
/* Blue button */
.bluebutton {
  font-size: 1rem;
  box-sizing: content-box;
  background-color: #0061ff;
  padding: 8px 15px;
  border-style: none;
  color: white;
}

.bluebutton a {
  color: white;
}

.bluebutton:hover {
  opacity: 70%;
}
/* Jumbo */

.hero h1 {
  font-size: 5rem;
  font-weight: 900;
}

.hero {
  padding: 50px var(--widegutter) 0 var(--widegutter);
  background-color: #b4d0e7;
  margin-bottom: 130px;
}

.jumbo {
  display: flex;
}

.jtext-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 20px;
}

.jtext-wrapper * {
  display: block;
}

.jumbo img {
  max-width: 70%;
  position: relative;
  top: 50px;
}

.jtext-wrapper .bluebutton {
  width: fit-content;
}

/* SEZIONE PIANI TARIFFARI */

.wrapper {
  padding: 0 var(--pagegutter);
}

h2 {
  font-size: 3rem;
}
/* SELETTORE RADIO */
.radiocheck {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid lightslategray;
  border-radius: 50%;
}

.radiocheck:hover {
  box-shadow: 0 0 0 5px #0061ff inset;
  border-style: none;
}

form {
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}

form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FINE SELETTORE RADIO */

/* CARDS */

.card-wrapper {
  padding: 30 var(--pagegutter);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: calc(100% / 3 - 15px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.checklist i {
  color: #0061ff;
}

.hcard {
  display: flex;
}

/* Partner */

.partnerwrap {
  padding: 30 var(--pagegutter);
  display: flex;
}

.parnerwrap img {
  display: block;
}

/* OPCARDS */

.op-wrapper {
  padding: 30px var(--pagegutter);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.opcard {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
}

/* SEZIONE QUADRATI */
.brandsquares {
  display: flex;
}

.bigsquare {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.smallsquare {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SPONSOR BRAND COLORS */

.designit {
  color: white;
  background-color: #a2d39b;
  border: calc(100vw / 100) solid #d1e9cd;
}

.asu {
  color: white;
  background-color: #61082b;
}

.uf {
  color: white;
  background-color: #0093ce;
}

.topps {
  color: white;
  background-color: #ff1c1c;
}

.bicycle {
  color: white;
  background-color: #d5001f;
}

.hearst {
  color: white;
  background-color: #b4d0e7;
}

.lonely {
  color: white;
  background-color: #0d2481;
}

.cchannel {
  color: white;
  background-color: #ffd830;
}

.smallsquare > img {
  filter: invert(100%);
  width: 70%;
}
