* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

:root {
  --widegutter: 20%;
  --pagegutter: 25%;
  --fa-li-margin: 26px;
  --fa-li-width: 30px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

/* Navbar */
header {
  height: 80px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: 80px;
}

nav [class|="nav"] {
  line-height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}

[class|="nav"] a {
  color: black;
}

nav div > a:hover {
  box-shadow: 0 -5px black inset;
}

.jtext-wrapper i {
  font-size: 3rem;
  margin-top: 100px;
  align-self: baseline;
}
/* Blue button */
.bluebutton {
  font-size: 1rem;
  box-sizing: content-box;
  background-color: #0061ff;
  padding: 8px 15px;
  border-style: none;
  color: white;
}

.bluebutton a {
  color: white;
}

.bluebutton:hover {
  opacity: 70%;
}
/* Jumbo */

.hero h1 {
  font-size: 5rem;
  font-weight: 900;
}

.hero {
  padding: 50px var(--widegutter) 0 var(--widegutter);
  background-color: #b4d0e7;
  margin-bottom: 130px;
}

.jumbo {
  display: flex;
}

.jtext-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
  gap: 20px;
  width: 30%;
}

.jtext-wrapper * {
  display: block;
}

.downarrow {
  flex-grow: 1;
  margin: 0;
}

.downarrow i {
  position: absolute;
  bottom: 0;
  left: 0;
}

.imgcontainer {
  width: 75%;
}
.imgcontainer img {
  display: block;
  max-width: 100%;
  position: relative;
  bottom: -50px;
}

.jtext-wrapper .bluebutton {
  width: fit-content;
}

/* SEZIONE PIANI TARIFFARI */

.wrapper {
  padding: 0 var(--pagegutter);
}

h2 {
  font-size: 2.7rem;
}
/* SELETTORE RADIO */
.radiocheck {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid lightslategray;
  border-radius: 50%;
}

.radiocheck:hover {
  box-shadow: 0 0 0 5px #0061ff inset;
  border-style: none;
}

form {
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}

form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FINE SELETTORE RADIO */

/* CARDS */

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(100% / 3 - 15px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid lightslategray;
}

.card hr {
  margin-top: 20px;
  width: 20%;
}

.half {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}

.features {
  padding: 10px 20px;
}

.users {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid lightslategray;
}

.prices > span:first-of-type {
  color: lightslategray;
}

.fa-ul {
  font-size: 0.9rem;
}

.fa-ul > li {
  margin: 10px 0;
  font-size: 1rem;
}

.iconlist > li:first-child {
  margin-top: 40px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.checklist i {
  color: #0061ff;
}

/* CARD ORIZZONTALE */

.hcard {
  margin: 25px 0;

  border: 1px solid lightslategray;
}

.hcard-divider {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  justify-content: space-between;
}

.leftcontainer {
  width: 65%;
}

.hcard > div:first-of-type {
  text-align: center;
  border-bottom: 1px solid lightslategray;
  padding: 10px;
}
/* Partner */

.partnerwrap {
  margin-top: 130px;
  margin-bottom: 130px;
  display: flex;
  gap: 40px;
}

.partnerimg img {
  display: block;
  width: 100%;
}

.partnertext {
  width: 50%;
  margin-top: 30px;
}

.whitebutton {
  margin-top: 40px;
  font-size: 1rem;
  box-sizing: content-box;
  background-color: white;
  padding: 8px 15px;
  border-style: none;
  color: black;
  border: 1px solid black;
}

.whitebutton a {
  color: black;
}

.whitebutton:hover {
  opacity: 70%;
}
/* OPCARDS */

.op-wrapper {
  margin: 60px 0 160px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.opcard {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-bottom: 40px;
}

/* SEZIONE QUADRATI */

.partnerlink {
  text-decoration: underline;
}

.brandsquares {
  margin-top: 100px;
  display: flex;
}

.bigsquare {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-wrap: wrap;
}

.smallsquare {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  background-color: #f5f5f5;
  padding: 35px;
  flex-direction: column;
  gap: 30px;
}

.middle img {
  display: block;
  width: 45%;
  margin-bottom: 10px;
}

.middle hr {
  width: 20%;
  margin: 30px 0;
}

/* SPONSOR BRAND COLORS */

.designit {
  color: white;
  background-color: #a2d39b;
  border: calc(100vw / 100) solid #d1e9cd;
}

.asu {
  color: white;
  background-color: #61082b;
}

.uf {
  color: white;
  background-color: #0093ce;
}

.topps {
  color: white;
  background-color: #ff1c1c;
}

.bicycle {
  color: white;
  background-color: #d5001f;
}

.hearst {
  color: white;
  background-color: #b4d0e7;
}

.lonely {
  color: white;
  background-color: #0d2481;
}

.cchannel {
  color: white;
  background-color: #ffd830;
}

.smallsquare > img {
  filter: invert(100%);
  width: 50%;
}

/* SEZIONE PROVA */

.try {
  background-color: #b4d0e7;
  padding: 0 25%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.purpletitle {
  color: #60092b;
  width: 60%;
}

.try .whitebutton {
  border: none;
  margin: 0;
}

/* FAQ */

.faq {
  padding: 0 25%;
}

.question-container {
  margin: 40px 0 80px 0;
}

.question-container * {
  display: block;
}

.question {
  position: relative;
  padding: 30px 0;
}

.question h4 > i {
  position: absolute;
  right: 0;
  top: 30px;
}

.question h4 > .fa-chevron-up {
  display: none;
}

.question:hover h4 > .fa-chevron-up {
  display: block;
}

.question:hover h4 > .fa-chevron-down {
  display: none;
}

.question p {
  display: none;
}

.question:hover p {
  display: block;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
}

.endlink-wrapper {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.endpage-links {
  width: 100%;
  list-style: none;
  line-height: 2.3rem;
}

.endpage-links li:not(.label):hover {
  text-decoration: underline;
}

.label {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 30px;
}

footer hr {
  width: 20%;
}

.language {
  margin: 30px 0;
}

.language:hover {
  cursor: pointer;
}
